/* ========================================
   DESIGN TOKENS (CSS Variables)
   ======================================== */

:root {
    --primary: #1e40af;
}

/* ========================================
   STYLES
   ======================================== */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
}

mark.has-inline-color {
    background: none;
}

footer.wp-block-template-part {
    margin-block-start: 0 !important;
}

/* === Min Height Cover Block ---------------------------------------- */
@media (max-width: 782px) {
    .cover-sizer {
        min-height: 300px !important;
    }
}

/* === Button Styles ---------------------------------------- */
:where(.wp-block-button__link) {
    /*   border-radius: 0; */
    font-weight: 600 !important;
}

.wp-block-button.is-style-fill .wp-block-button__link,
.wp-block-button.is-style-fill .wp-element-button {
    transition: all 0.35s ease;
    background-color: var(
        --wp--preset--color--accent-1
    ) !important; /* Replace with your desired color */
}

.wp-block-button.is-style-fill .wp-block-button__link:hover,
.wp-block-button.is-style-fill .wp-element-button:hover {
    background-color: var(
        --wp--preset--color--accent-2
    ) !important; /* Replace with your desired color */
}

/* === Form Styles ---------------------------------------- */
form input[type="text"],
form input[type="email"],
form textarea {
    padding: 0.75rem !important;
    border: 1px solid var(--wp--preset--color--contrast) !important;
    background: none !important;
    border-radius: 16px !important;
    font: inherit;
    color: var(--wp--preset--color--contrast);
}

/* === Column Reverse on Mobile ---------------------------------------- */
@media (max-width: 782px) {
    .wp-block-columns.column-reverse-on-mobile {
        flex-direction: column-reverse;
    }
}

/* === Organizer Site ---------------------------------------- */
.taxonomy-wcb_organizer_team a {
    border: 2px solid var(--wp--preset--color--contrast) !important;
    padding: 0.2rem 0.5rem !important;
    border-radius: 50px;
    text-decoration: none !important;
    color: var(--wp--preset--color--contrast) !important;
    font-weight: 600;
}

.wcb_organizer .wp-block-post-content p {
    text-align: center;
}

.blog-teaser-start {
    padding: 0 !important;
}
